[submodule "submodules/ScanNet"]
	path = submodules/ScanNet
	url = https://github.com/finfando/ScanNet.git
	branch = python3-code-adjustments
[submodule "submodules/NetVLAD_pytorch"]
	path = submodules/NetVLAD_pytorch
	url = https://github.com/lyakaap/NetVLAD-pytorch
