[submodule "submodules/ScanNet"]
	path = submodules/ScanNet
	url = https://github.com/finfando/ScanNet.git
	branch = python3-code-adjustments
[submodule "submodules/NetVLAD_pytorch"]
	path = submodules/NetVLAD_pytorch
	url = https://github.com/lyakaap/NetVLAD-pytorch
[submodule "submodules/facenet_pytorch"]
	path = submodules/facenet_pytorch
	url = https://github.com/timesler/facenet-pytorch.git
[submodule "submodules/pytorch_NetVLAD"]
	path = submodules/pytorch_NetVLAD
	url = https://github.com/Nanne/pytorch-NetVlad.git
